@media only screen and (min-width: 28.9em) {
  html {
    font-size: 18px;
  }
  .profilepic {
    float: right;
    margin: 4rem 4rem auto;
  }
  body {
    text-align: left;
  }

  h1 {
    font-size: 6rem;
    text-align: left;
    padding: 1rem;
  }
  h2 {
    font-size: 2rem;
  }
}
