@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@600&display=swap");

/* CSS HEX 
--black-shadows: #d5c5c8ff;
--quick-silver: #9da3a4ff;
--dark-liver: #604d53ff;
--copper-penny: #a8726aff;
--jet: #2d2c27ff;
--pale-pink: #e9c9c5ff;
--silver-pink: #d6b4b4ff;*/

body {
  background-color: white;
  font-family: "Montserrat", arial, sans-serif;
  padding: 0.227rem 1.136rem;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", times-new-roman, serif;
  color: #2d2c27;
}
.profilepic {
  max-width: 60%;
  float: right;
  margin: 6rem 4rem 0 auto;
  border-radius: 50%;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(96, 77, 83, 1);
}
p {
  font-family: "Playfair Display", arial, sans-serif;
  font-size: 22px;
  font-family: "Montserrat", arial, sans-serif;
  color: #463f3a;
  line-height: 2rem;
}
main {
  max-width: 950px;
  background-color: #e9c9c5;
  padding-bottom: 1rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0.682rem 0.682rem 0.909rem rgba(214, 180, 180, 0.2);
}
header {
  max-width: 100%;
  background-color: #9da3a4ff;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
}
li {
  margin: 1rem;
  font-size: 1.2rem;
}
.textlink {
  color: #2d2c27;
}
li a:hover {
  color: #e9c9c5;
  background-color: #2d2c27;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.footerlink {
  color: #2d2c27;
  padding: 1rem;
}
footer a:hover {
  color: #e9c9c5;
  background-color: #2d2c27;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.nametitle {
  text-align: left;
  margin-left: 1.5rem;
  padding: 1rem;
  font-size: 5rem;
}
.todaydate {
  font-size: 1rem;
  color: black;
  margin-left: 2.5rem;
}
.assignmentheader {
  margin: 6rem 2rem 0 2rem;
  border-bottom: 0.15rem solid #2d2c27;
}
.assignmentlist {
  margin-top: 4.5rem;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
}
footer {
  background-color: #9da3a4ff;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: -1rem;
  font-size: 18px;
  text-align: center;
}

.wk2grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}
.subgrid1 {
  grid-column: 1;
  grid-row: 1;
}

@media only screen and (max-width: 600px) {
  .profilepic {
    display: inline-block;
    justify-self: center;
    margin: 1rem 4rem 0rem 1rem;
    min-height: 150%;
  }
  header,
  footer {
    border-radius: 0rem;
    justify-content: center;
  }
  main {
    justify-content: center;
  }
  h1 {
    text-align: center;
    margin-top: 2rem;
  }
  .nametitle {
    font-size: 2.9rem;
  }
  header {
    padding-bottom: 0rem;
  }
  .todaydate {
    display: none;
  }
  .assignmentheader {
    margin-top: 5rem;
  }
  .assignmentlist {
    margin: 2rem;
  }
  footer {
    font-size: smaller;
  }
}

/*/* CSS HEX 
--black-shadows: #d5c5c8ff;
--quick-silver: #9da3a4ff;
--dark-liver: #604d53ff;
--copper-penny: #a8726aff;
--jet: #2d2c27ff;
--pale-pink: #e9c9c5ff;
--silver-pink: #d6b4b4ff;

/* CSS HSL 
--black-shadows: hsla(349, 16%, 80%, 1);
--quick-silver: hsla(189, 4%, 63%, 1);
--dark-liver: hsla(341, 11%, 34%, 1);
--copper-penny: hsla(8, 26%, 54%, 1);
--jet: hsla(50, 7%, 16%, 1);
--pale-pink: hsla(7, 45%, 84%, 1);
--silver-pink: hsla(0, 29%, 77%, 1);

/* SCSS HEX 
$black-shadows: #d5c5c8ff;
$quick-silver: #9da3a4ff;
$dark-liver: #604d53ff;
$copper-penny: #a8726aff;
$jet: #2d2c27ff;
$pale-pink: #e9c9c5ff;
$silver-pink: #d6b4b4ff;

/* SCSS HSL 
$black-shadows: hsla(349, 16%, 80%, 1);
$quick-silver: hsla(189, 4%, 63%, 1);
$dark-liver: hsla(341, 11%, 34%, 1);
$copper-penny: hsla(8, 26%, 54%, 1);
$jet: hsla(50, 7%, 16%, 1);
$pale-pink: hsla(7, 45%, 84%, 1);
$silver-pink: hsla(0, 29%, 77%, 1);

/* SCSS RGB 
$black-shadows: rgba(213, 197, 200, 1);
$quick-silver: rgba(157, 163, 164, 1);
$dark-liver: rgba(96, 77, 83, 1);
$copper-penny: rgba(168, 114, 106, 1);
$jet: rgba(45, 44, 39, 1);
$pale-pink: rgba(233, 201, 197, 1);
$silver-pink: rgba(214, 180, 180, 1);

/* SCSS Gradient 
$gradient-top: linear-gradient(
  0deg,
  #d5c5c8ff,
  #9da3a4ff,
  #604d53ff,
  #a8726aff,
  #2d2c27ff,
  #e9c9c5ff,
  #d6b4b4ff
);
$gradient-right: linear-gradient(
  90deg,
  #d5c5c8ff,
  #9da3a4ff,
  #604d53ff,
  #a8726aff,
  #2d2c27ff,
  #e9c9c5ff,
  #d6b4b4ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #d5c5c8ff,
  #9da3a4ff,
  #604d53ff,
  #a8726aff,
  #2d2c27ff,
  #e9c9c5ff,
  #d6b4b4ff
);
$gradient-left: linear-gradient(
  270deg,
  #d5c5c8ff,
  #9da3a4ff,
  #604d53ff,
  #a8726aff,
  #2d2c27ff,
  #e9c9c5ff,
  #d6b4b4ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #d5c5c8ff,
  #9da3a4ff,
  #604d53ff,
  #a8726aff,
  #2d2c27ff,
  #e9c9c5ff,
  #d6b4b4ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #d5c5c8ff,
  #9da3a4ff,
  #604d53ff,
  #a8726aff,
  #2d2c27ff,
  #e9c9c5ff,
  #d6b4b4ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #d5c5c8ff,
  #9da3a4ff,
  #604d53ff,
  #a8726aff,
  #2d2c27ff,
  #e9c9c5ff,
  #d6b4b4ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #d5c5c8ff,
  #9da3a4ff,
  #604d53ff,
  #a8726aff,
  #2d2c27ff,
  #e9c9c5ff,
  #d6b4b4ff
);
$gradient-radial: radial-gradient(
  #d5c5c8ff,
  #9da3a4ff,
  #604d53ff,
  #a8726aff,
  #2d2c27ff,
  #e9c9c5ff,
  #d6b4b4ff
);

*/
