@media only screen and (min-width: 75rem) {
  html {
    font-size: 16px;
  }
  html main {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 0.15rem;
    margin: 5rem;
    grid-gap: 1.5rem;
  }
  h1 {
    margin: none;
  }
}
