body {
  max-width: 960px;
  margin: 0 auto;
}
h1,
h2 {
  text-align: center;
}

.gallery {
  display: grid;
  grid-auto-rows: 600px;
  margin: 40rem 0 auto 0;
  gap: 10rem;
  justify-items: center;
}
.picturebox {
  border: 0.2rem solid gray;
  text-align: center;
}

p {
  max-width: 30rem;
  padding: 1rem;
  margin: 0.5rem;
}

img {
  box-shadow: 1rem 1rem 1rem 0 rgba(164, 165, 165, 0.5);
  min-width: 300px;
  min-height: 400px;
}

img[data-src] {
  opacity: 50%;
  filter: blur(3em);
}
img[data-src].loaded {
  opacity: 100%;
  filter: blur(0em);
  transition-duration: 2s;
}
