body {
  max-width: 960px;
  margin: 0 auto;
}
h1,
h2 {
  text-align: center;
}

.gallery {
  display: grid;
  grid-auto-rows: 600px;
  margin: 0 auto;
  gap: 2rem;
  justify-items: center;
}
img.lazy {
  -o-transition-property: blur(2em);
  /* filter: blur(0em); */
  /* transition: filter 10s; */
}
/* img.image {
  background-color: red;
} */
img {
  box-shadow: 1rem 1rem 1rem 0 rgba(164, 165, 165, 0.5);
  min-width: 300px;
  min-height: 400px;
  filter: blur(0em);
  transition: filter 10s;
  /* transition: filter 2s; */
}
.picturebox {
  border: 0.2rem solid gray;
  text-align: center;
}

p {
  max-width: 30rem;
  padding: 1rem;
  margin: 0.5rem;
}
.boxtext {
  position: relative;
}

.card-image {
  display: block;
  background-size: cover;
  filter: blur(3px); /* blur the lowres image */
}

.card-image > img {
  display: block;
  width: 100%;
  opacity: 0; /* visually hide the img element */
}

.card-image.is-loaded {
  filter: none; /* remove the blur on fullres image */
  transition: filter 1s;
}
