/* CSS HEX 
--rich-black-fogra-29: #01161eff;
--midnight-green-eagle-green: #124559ff;
--teal-blue: #598392ff;
--silver-chalice: #a6aeb0ff;
--isabelline: #ededebff;
--gamboge: #de9c21ff;
--international-orange-engineering: #b52615ff;*/

html {
  font-size: 16px;
  font-family: "Heebo", arial, sans-serif;
}
body {
  margin: 0 auto;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", arial, sans-serif;
  color: #124559ff;
  margin-top: 1.2rem;
  margin-bottom: 0.2rem;
}
h2,
header,
footer {
  padding: 0.8rem;
}

header h1,
footer,
footer a {
  color: white;
}
header,
footer {
  max-width: 100%;
}
div {
  background-color: #f5f5f5ff;
  margin-bottom: 4rem;
}
img {
  max-width: 70%;
}
.profile {
  border: 0.2rem solid #01161eff;
}
.logo {
  max-width: 8rem;
}

.namedate {
  color: black;
  font-size: 0.8rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bold;
}
nav li a {
  display: block;
  color: #f5f5f5ff;
  padding: 0.75rem;
}
nav a:hover {
  border-radius: 2rem;
}
a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #1b313bff;
}
p a:visited {
  color: #de9c21ff;
}
p {
  font-size: 1rem;
  padding: 0.1rem 1.5rem 0.1rem 1.5rem;
  margin-top: 0.2rem;
  line-height: 1.5rem;
}
.paragraphstyle {
  background-color: #a6aeb0ff;
  margin: 1.5rem;
  padding-right: 1rem;
}
.siteplannav {
  margin: 2rem;
  padding: 0.2rem;
}
ol {
  text-align: start;
  margin: 1rem;
}
header,
.tealblock,
.siteplannav {
  background-color: #598392ff;
}
.white,
body {
  background-color: #ededebff;
}
.white {
  border: 0.1rem solid #01161eff;
}
.darkblue,
h2,
footer {
  background-color: #124559ff;
}
.yellow,
.paragraphstyle,
html {
  color: #01161eff;
}
.yellow,
nav a:hover {
  background-color: #de9c21ff;
}
div a:hover {
  background-color: #ededebff;
}
.black,
h2,
.darkblue,
h2,
footer {
  color: #ededebff;
}
.black {
  background-color: #01161eff;
}
.teal,
.tealblock,
.white,
.darkblue,
.yellow,
.black {
  padding: 0.1rem;
}
