@media only screen and (min-width: 68.75em) {
  .maingrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px auto auto auto auto auto auto 250px auto;
    grid-template-areas:
      "welcome welcome welcome welcome welcome welcome"
      "welcome welcome welcome welcome welcome welcome "
      "highlight highlight story1 story1 story1 story1 "
      "highlight highlight story1 story1 story1 story1 "
      "highlight highlight special special special special "
      " forecastcard forecastcard forecastcard forecastcard forecastcard forecastcard "
      "story2 story2 story2 story2 story2 story2"
      "ad1 ad1 ad2 ad2 ad3 ad3"
      "feature feature feature feature feature feature ";
    max-width: 55rem;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    padding-bottom: 0;
    grid-gap: 1rem;
  }
  /* .welcome {
    margin-top: 1rem;
  } */
  .logo {
    justify-self: right;
  }

  header img {
    max-width: 75%;
    margin-right: 0;
  }
  h1 {
    font-size: 500%;
    margin: 0;
  }
  header p {
    font-size: 150%;
  }
  article {
    margin-bottom: 1rem;
  }
  .special {
    white-space: nowrap;
  }
  .special h2 {
  }
  .storyimg1 {
    float: left;
    margin: 1rem;
  }
  .highlight {
    margin-top: 2rem;
  }
  .highlight h2 {
    line-height: 2.5rem;
  }
  .eventicon {
    margin: 2rem auto 1rem;
    text-align: center;
  }
  .ad {
    margin: 1rem;
  }

  .footerbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 2fr 1fr;
    grid-template-areas:
      " footimage contact form "
      " footimage social form ";
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    background-color: var(--gray);
  }
  .footimage {
    padding: 1rem;
  }
  .social {
    align-self: end;
  }
  .contact {
    align-self: end;
    text-align: left;
    margin: 0 auto;
  }

  @keyframes titleslide {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 20%;
    }
  }
  .story1 h2,
  .story2 h2,
  .feature h2 {
    animation-name: titleslide;
    animation-duration: 3s;
    white-space: nowrap;
  }
  .feature p {
    margin: 3rem;
  }
  .joingrid {
    max-width: 70rem;
  }
  .levels {
    display: flex;
    flex-direction: row;
  }
  .levels > div {
    max-width: 25%;
  }
  .joingrid p {
    border-bottom: none;
  }
  .checkmark {
    left: 50%;
  }
  label.radiolevel {
    text-align: center;
    padding-top: 3rem;
  }
  .forecastcard {
    max-width: 80%;
  }
  /* -----------City Page--------- */

  /* ------------ gallery---------- */

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* ---------Directory-------- */

  .councilbox img {
    max-width: 12rem;
  }
  .contactgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "mapbox contactform "
      "mapbox contactform   "
      "council council ";
    grid-gap: 2rem;
    margin: 3rem auto;
    width: 90%;
    align-items: baseline;
    justify-items: center;
  }
  .contactform {
    grid-area: contactform;
    width: 90%;
  }
  .mapbox {
    grid-area: mapbox;
  }
  .council {
    grid-area: council;
  }
  .mapgrid {
    display: block;
  }
}
