@media only screen and (min-width: 40em) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3,
  h4,
  h5. h6 {
    font-size: ;
  }
  .navmenu li:first-child {
    display: none;
  }
  .navmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    background-color: var(--blue);
  }
  .navmenu li {
    display: block;
    padding: 0.7rem 1rem;
    max-width: 100%;
  }
  nav ul :nth-child(4) {
    margin-right: auto;
  }
  .navmenu li:hover {
    background-color: var(--red);
  }
  header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      "alert alert alert alert alert alert"
      "banner banner banner banner banner banner"
      "nav nav nav nav nav nav"
      "logo logo title title title title"
      "logo logo title title title title"
      "bannerfix bannerfix bannerfix bannerfix bannerfix bannerfix";
    max-width: 100%;
  }
  .alert {
    grid-area: alert;
  }
  .banner {
    grid-area: banner;
  }
  nav {
    grid-area: nav;
  }
  .title {
    grid-area: title;
  }
  .logo {
    grid-area: logo;
  }
  .bannerfix {
    grid-area: bannerfix;
  }
  header img {
    max-width: 50%;
    justify-self: end;
  }
  .title {
    align-self: center;
  }
  header div.title h1,
  header div.title p {
    text-align: left;
    line-height: 0.5rem;
  }

  /*--------main----------- */
  main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      "nav nav nav nav nav nav"
      "logo logo logo logo logo logo"
      "special special special special special special"
      "special special special special special special"
      "story1 story1 story1 story1 story1 story1"
      "story1 story1 story1 story1 story1 story1"
      "story1 story1 story1 story1 story1 story1"
      "story1 story1 story1 story1 story1 story1"
      "ad1 ad1 ad2 ad2 ad3 ad3"
      "ad1 ad1 ad2 ad2 ad3 ad3"
      "highlight highlight highlight highlight highlight highlight"
      "highlight highlight highlight highlight highlight highlight"
      "story2 story2 story2 story2 story2 story2"
      "story2 story2 story2 story2 story2 story2"
      "story2 story2 story2 story2 story2 story2"
      "feature feature feature feature feature feature"
      "feature feature feature feature feature feature"
      "feature feature feature feature feature feature"
      "feature feature feature feature feature feature"
      "feature feature feature feature feature feature"
      "feature feature feature feature feature feature";
    max-width: 48rem;
    margin: 0 auto;
  }

  .special {
    grid-area: special;
  }
  .story1 {
    grid-area: story1;
  }
  .image {
    float: left;
    margin: 3.5rem 1rem 0.3rem 1rem;
  }
  .story1 h2 {
    text-align: left;
    margin-left: 20%;
  }
  article p:nth-child(3) {
    text-align: left;
  }
  .ad1 {
    grid-area: ad1;
  }
  .ad2 {
    grid-area: ad2;
  }
  .ad3 {
    grid-area: ad3;
  }
  .highlight {
    grid-area: highlight;
  }
  .story2 {
    grid-area: story2;
  }
  .feature {
    grid-area: feature;
  }
  .clearfix {
    content: "";
    display: table;
    clear: both;
  }
}
