/* CSS HSL */
:root {
  --white: hsla(0, 0%, 96%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --gray: hsla(0, 0%, 20%, 1);
  --silver: hsla(35, 15%, 84%, 1);
  --blue: #063a81;
  --red: hsla(0, 100%, 28%, 1);
}
* {
  padding: 0;
  margin: 0;
}
html {
  background-color: var(--white);
  font-family: "Open Sans", Arial, sans-serif;
}
p {
  /* font-family: "Open Sans", Arial, sans-serif; */
  /* color: var(--white); */
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  line-height: 1.5rem;
}
header,
section,
article {
  /* background-color: var(--black); */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-weight: bold;
  /* color: var(--white); */
  margin-bottom: 0.3rem;
  padding: 0.3rem;
}
img {
  max-width: 100%;
  margin-bottom: 0.3rem;
}
#conditions {
  text-transform: capitalize;
}
aside {
  background-color: var(--red);
  max-width: 100%;
  padding: 0.3rem;
  color: var(white);
}
aside h3,
aside h4,
p.closebutton {
  text-align: center;
  color: var(--white);
}
.hidebanner {
  display: none;
}
.closebutton:hover {
  cursor: pointer;
}
.banner {
  background-color: var(--gray);
  padding: 1rem 2%;
  color: var(--white);
}
.banner a,
article a,
section a,
footer input:nth-child(3),
form > input:last-child {
  background-color: var(--blue);
  color: var(--white);
  padding: 0.2rem 1rem;
  border-radius: 50px;
  text-decoration: none;
  border: none;
}
header img {
  display: block;
  max-width: 30%;
  margin: 0 auto;
}
.title h1 {
  text-align: center;
}
.bannerfix::after {
  content: "";
  clear: both;
  display: table;
  border-bottom: 0.2rem solid var(--red);
  padding-bottom: 1%;
  width: 100%;
}

/* :link :visited :hover :focus :active */
.navmenu li:first-child {
  display: block;
}
.navmenu li {
  display: none;
  padding: 0.5rem 0;
  text-align: center;
  list-style: none;
  background-color: var(--blue);
  /* color: var(--white); */
}
.navmenu a {
  display: block;
  color: var(--white);
  letter-spacing: 0.2rem;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  text-decoration: none;
}

.navmenu a.ham {
  font-size: 2rem;
}
.responsive li {
  display: block;
}
.navmenu:link {
  /* color: var(--white); */
}
.navmenu:visited {
  color: white;
}

.navmenu li:hover {
  background-color: var(--red);
}
.navmenu:focus {
}
.active {
  /* border-bottom: 0.2rem solid var(--red); */
}
main > section,
main > article,
main > div,
footer {
  margin: 3rem 4% auto 3%;
}
.summary,
footer form,
main > section {
  margin: 3rem auto 3% auto;
  max-width: 50%;
  padding: 1rem;
  border: 3px solid var(--red);
  white-space: nowrap;
  line-height: 1.5rem;
}
.summary > h2 {
  /* margin-bottom: 3%; */
  border-bottom: 5px solid var(--red);
}
article {
  background-color: var(--gray);
  color: var(--white);
  padding: 0.5rem;
  padding-bottom: 1.5rem;
}
/* @keyframes underline {
  from {
    border-bottom: 5px solid var(--black);
    margin-left: 100%;
  }
  to {
    border-bottom: 5px solid var(--red);
    margin-left: 0%;
  }
  animation-name: underline;
  animation-duration: 4s;
  animation-fill-mode: forward;
} */
article h2 {
  border-bottom: 5px solid var(--red);
  margin-bottom: 1rem;
}
article p:nth-child(3) {
  /* border-bottom: 5px solid var(--red); */
  margin-bottom: 1.5rem auto;
}
article img {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(5px 5px 5px var(--white));
}
article h4 {
  text-align: center;
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
article a {
  margin-left: 35%;
}
footer form {
  border: 3px solid var(--red);
  text-align: center;
}
input {
  padding: 0.2rem;
}
#email {
  margin-bottom: 1rem;
}
footer div {
  text-align: center;
}
footer img {
  /* filter: drop-shadow(2px 2px 2px var(--blue)); */
  max-height: 2.5rem;
  padding: 0.5rem;
}
main > div {
  border: 5px solid black;
  text-align: center;
}
