/*Wk2 Style Sheet*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@600&display=swap");

/* CSS HEX 
--black-shadows: #d5c5c8ff;
--quick-silver: #9da3a4ff;
--dark-liver: #604d53ff;
--copper-penny: #a8726aff;
--jet: #2d2c27ff;
--pale-pink: #e9c9c5ff;
--silver-pink: #d6b4b4ff;*/

body {
  background-color: white;
  font-family: "Montserrat", arial, sans-serif;
  padding: 0.227rem 1.136rem;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", times-new-roman, serif;
  color: #2d2c27;
}
p {
  font-family: "Playfair Display", arial, sans-serif;
  font-size: 22px;
  font-family: "Montserrat", arial, sans-serif;
  color: #463f3a;
  line-height: 2rem;
}
main {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  max-width: 950px;
  background-color: #e9c9c5;
  padding-bottom: 1rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0.682rem 0.682rem 0.909rem rgba(214, 180, 180, 0.2);
}
header {
  max-width: 100%;
  background-color: #9da3a4ff;
  border-radius: 1rem;
  padding-bottom: 0.5rem;
}
.footerlink {
  color: #2d2c27;
  padding: 1rem;
}
footer a:hover {
  color: #e9c9c5;
  background-color: #2d2c27;
  border-radius: 0.5rem;
  padding: 0.3rem;
}
.nametitle {
  text-align: left;
  margin-left: 1.5rem;
  padding: 1rem;
  font-size: 5rem;
}
.todaydate {
  font-size: 1rem;
  color: black;
  margin-left: 2.5rem;
}
footer {
  background-color: #9da3a4ff;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: -1rem;
  font-size: 18px;
  text-align: center;
}

.subgrid1 {
  grid-column: 1;
  grid-row: 1;
}

@media only screen and (max-width: 600px) {
  .profilepic {
    display: inline-block;
    justify-self: center;
    margin: 1rem 4rem 0rem 1rem;
    min-height: 150%;
  }
  header,
  footer {
    border-radius: 0rem;
    justify-content: center;
  }
  main {
    justify-content: center;
  }
  h1 {
    text-align: center;
    margin-top: 2rem;
  }
  .nametitle {
    font-size: 2.9rem;
  }
  header {
    padding-bottom: 0rem;
  }
  .todaydate {
    display: none;
  }
  .assignmentheader {
    margin-top: 5rem;
  }
  .assignmentlist {
    margin: 2rem;
  }
  footer {
    font-size: smaller;
  }
}
