@media only screen and (min-width: 68.75em) {
  main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      "special special story1 story1 story1 story1"
      "special special story1 story1 story1 story1"
      "ad1 ad1 story1 story1 story1 story1"
      "ad1 ad1 story1 story1 story1 story1"
      "ad2 ad2 highlight highlight highlight highlight"
      "ad2 ad2 forecastcard forecastcard forecastcard forecastcard"
      "ad3 ad3 story2 story2 story2 story2"
      "ad3 ad3 story2 story2 story2 story2"
      "feature feature feature feature feature feature"
      "feature feature feature feature feature feature"
      "feature feature feature feature feature feature";
    max-width: 1200px;
    margin-top: 6rem;
    gap: 0.5rem;
  }
  .logo {
    justify-self: right;
  }

  header img {
    max-width: 75%;
    margin-right: 0;
  }
  header h1 {
    font-size: 500%;
  }
  header p {
    font-size: 150%;
  }
  article {
    margin-bottom: 1rem;
  }
  .special {
    margin: 2rem;
    padding: 2rem;
  }
  .special h2 {
  }
  .highlight {
    margin: 0.5rem;
  }
  .ad {
    margin: 1rem;
  }

  .footerbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 2fr 1fr;
    grid-template-areas:
      " footimage contact form "
      " footimage social form ";
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    background-color: var(--gray);
  }
  .footimage {
    padding: 1rem;
  }
  .social {
    align-self: end;
  }
  .contact {
    align-self: end;
    text-align: left;
    margin: 0 auto;
  }

  @keyframes titleslide {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 20%;
    }
  }
  .story1 h2,
  .story2 h2,
  .feature h2 {
    animation-name: titleslide;
    animation-duration: 3s;
    white-space: nowrap;
  }
  .feature p {
    margin: 3rem;
    column-count: 2;
    column-gap: 2rem;
  }
}
