@media only screen and (min-width: 35em) {
  .background {
    display: block;
  }
  .backgroundimage {
    position: absolute;
    z-index: -1;
    opacity: 40%;
  }
  .maingrid {
    margin-top: 300px;
  }
  header h1 {
    color: var(--middlegrey);
    /* filter: dropshadow(2px 2px 2px var(--white)); */
    /* filter: drop-shadow(2px 2px 3px white); */
  }
  .arrow {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: inline-block;
    font-size: 4rem;
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-1rem);
    }
    60% {
      transform: translateY(-0.5rem);
    }
  }

  /* ----------------- */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3,
  h4,
  h5. h6 {
    font-size: ;
  }
  .navmenu li:first-child {
    display: none;
  }
  .navmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    background-color: var(--black);
  }
  .navmenu li {
    display: block;
    padding: 0.7rem 1rem;
    max-width: 100%;
  }
  nav ul :nth-child(4) {
    margin-right: auto;
  }

  .responsive ul li:not(:first-child) {
    background-color: var(--black);
  }
  .active {
    max-width: 100%;
  }
  header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      "alert alert alert alert alert alert"
      "banner banner banner banner banner banner"
      "nav nav nav nav nav nav"
      "logo logo title title title title"
      "logo logo title title title title"
      "bannerfix bannerfix bannerfix bannerfix bannerfix bannerfix";
    max-width: 100%;
  }
  .alert {
    grid-area: alert;
  }
  .banner {
    grid-area: banner;
    text-align: left;
  }
  .banner span {
    display: inline;
    margin-left: 1rem;
  }

  nav {
    grid-area: nav;
  }
  .title {
    grid-area: title;
  }
  .logo {
    grid-area: logo;
    align-self: center;
  }
  .bannerfix {
    grid-area: bannerfix;
  }
  header img {
    max-width: 50%;
    justify-self: end;
  }
  .title {
    align-self: center;
  }
  .title h1,
  .title p {
    text-align: left;
    flex-wrap: nowrap;
  }

  /*--------main----------- */
  #maingrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px auto, 1fr;
    grid-template-areas:
      "welcome welcome welcome welcome welcome welcome"
      "welcome welcome welcome welcome welcome welcome "
      "special special story1 story1 story1 story1 "
      "ad1 ad1 story1 story1 story1 story1 "
      " forecastcard forecastcard highlight highlight highlight highlight "
      "story2 story2 story2 story2 story2 story2"
      "ad2 ad2 ad2 ad3 ad3 ad3"
      "feature feature feature feature feature feature ";
    max-width: 55rem;
    margin: 0 auto;
    justify-items: center;
    padding-bottom: 0;
    grid-gap: 0.5rem;
  }
  .welcome {
    display: block;
    grid-area: welcome;
    margin: 6rem auto 20rem auto;
    color: var(--white);
    border: 2px solid var(--white);
    padding: 3rem;
    text-align: center;
  }
  .special {
    grid-area: special;
    align-self: center;
  }
  .story1 {
    grid-area: story1;
  }
  .story1 h2,
  .story2 h2 {
    text-align: left;
    margin-left: 20%;
  }
  .storyimg2 {
    float: left;
    margin: 1rem;
  }
  .ad1 {
    grid-area: ad1;
  }
  .ad2 {
    grid-area: ad2;
  }
  .ad3 {
    grid-area: ad3;
  }
  .highlight {
    grid-area: highlight;
  }

  .forecastcard {
    margin: 0;
    grid-area: forecastcard;

    white-space: break-spaces;
  }
  .forecastcard h2 {
    line-height: 2.5rem;
    text-align: center;
  }
  .story2 {
    grid-area: story2;
  }
  .feature {
    grid-area: feature;
    background-color: var(--white);
  }
  .feature h2 {
    text-align: left;
    margin-left: 20%;
    background-color: var(--white);
    color: var(--blue);
  }
  .feature img {
    margin: 0 auto;
  }

  .feature h3 {
    background-color: var(--white);
    color: var(--blue);
  }
  article.feature p {
    background-color: var(--white);
    color: var(--blue);
    column-count: 2;
    column-gap: 2rem;
    margin: 1rem;
  }

  /* ----------footer--------- */
  footer {
    background-color: var(--gray);
    margin-top: 3rem;
  }
  .footerbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
      "footimage form"
      "contact contact"
      "social social";
    max-width: 48rem;
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    background-color: var(--gray);
  }
  .footimage {
    grid-area: footimage;
    position: static;
  }
  footer img {
    max-height: none;
  }
  .footimage img {
    opacity: 100%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .footimage p {
    display: block;
    background-color: var(--gray);
    font-size: 125%;
    font-style: italic;
    line-height: 2.5rem;
  }
  .form {
    grid-area: form;
  }
  .form h4 {
    background-color: var(--gray);
  }
  .contact {
    grid-area: contact;
    background-color: var(--gray);
  }
  .social {
    grid-area: social;
  }
  .social img {
    max-width: 3rem;
  }
  .clearfix {
    content: "";
    display: table;
    clear: both;
  }
  /* -------join page-------- */
  .newgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
      "title title"
      "personal biz"
      "levels levels"
      "submit submit";
    grid-gap: 1rem;
    max-width: 40rem;
    margin: 0 auto;
  }
  .newgrid > article {
    grid-area: title;
    align-self: center;
  }
  .newgrid > section:first-child {
    grid-area: personal;
    margin-left: 15%;
  }
  .newgrid > section:last-child {
    grid-area: biz;
    margin-right: 25%;
  }
  .newgrid > div {
    grid-area: levels;
  }
  .newgrid :last-child {
    grid-area: submit;
    margin: 0 auto;
  }
  .levels > div:nth-child(even) {
    background-color: var(--middlegrey);
    padding: 0.5rem;
  }
  .newgrid p {
    padding: 1rem;
    text-align: left;
  }
  .checkmark {
    top: 1rem;
  }
  /* ----------image gallery-------- */
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% auto;
    gap: 2rem;
  }
  /* -------Directory------- */

  div.shopgrid {
    display: grid;
    grid-template-columns: 1f auto 1fr;
    grid-template-rows: auto;
    grid-area: "pic pic" "pic pic" "pic pic";
    margin: 5% auto;
    gap: 0.5rem;
  }
  .shopgrid > section.highlight {
    grid-area: pic;
  }
  .viewbuttongrid {
    max-width: 40rem;
  }
  .viewbuttongrid figure {
    padding: 0.5rem;
  }
}
