/* CSS HSL */
:root {
  --white: hsla(0, 0%, 96%, 1);
  --black: hsla(0, 0%, 12%, 1);
  --gray: hsla(0, 0%, 20%, 1);
  --silver: hsla(35, 15%, 84%, 1);
  --blue: hsla(209, 51%, 17%, 1);
  --red: hsla(0, 100%, 20%, 1);
  --jet: hsla(0, 0%, 20%, 1);
  --darkgrey: hsla(20, 2%, 36%, 1);
  --middlegrey: hsla(30, 2%, 52%, 1);
  --greige: hsla(30, 2%, 56%, 1);
  --jet: hsla(0, 0%, 20%, 1);
  --prussian-blue: hsla(209, 51%, 17%, 1);
  --green: hsla(89%, 100%, 32%, 1%);
}
* {
  padding: 0;
  margin: 0;
}
html {
  background-color: var(--black);
  font-family: "Open Sans", Arial, sans-serif;
}
p, main li {
  color: var(--white);
  line-height: 1.5rem;
  /* filter: drop-shadow(0px 0px black); */
  padding: 0.8rem;
}
.indent {
  text-indent: 2rem;
}
h1,
h3,
h2,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-weight: 700;
  color: var(--white);
  filter: drop-shadow(0px 0px black);
  padding: 0.5rem;
}
h1 {
  margin-bottom: 0.5rem;
}
img {
  max-width: 100%;
  margin-bottom: 0.3rem;
}
/* ---------top banners--------- */
#conditions,
.forecastcard p {
  text-transform: capitalize;
}
.alert {
  position: absolute;
  left: 30%;
  top: 6rem;
  max-width: 40%;
  z-index: 2;
}
.alert,
.alert p {
  background-color: var(--red);
  font-size: 1rem;
}
.alert h3,
.alert h4,
p.closebutton {
  text-align: center;
}
p.closebutton {
  color: var(--red);
  background-color: var(--white);
}
.hidebanner {
  display: none;
}
.closebutton:hover {
  cursor: pointer;
}
.banner {
  background-color: var(--greige);
  padding: 1.5rem 1rem 1rem 1rem;
  color: var(--black);
  text-align: center;
}
.banner span {
  display: block;
  margin: 1rem 0 0 0;
}

.button {
  background-color: var(--blue);
  color: var(--white);
  padding: 0.3rem 1rem;
  border-radius: 50px;
  text-decoration: none;
  border: none;

}
a.button,
input.button {
  border: 2px solid var(--silver);

}
.button:hover {
  background-color: var(--red);
}
/* ---------header---------- */
header img {
  display: block;
  max-width: 30%;
  margin: 0 auto;
}
.title {
  text-align: center;
  color: var(--white);
}
.title h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: italic;
  background-color: var(--black);
  text-align: left;
}
.bannerfix::after {
  content: "";
  clear: both;
  display: table;
  border-bottom: 0.2rem solid var(--blue);
  padding-bottom: 1%;
  width: 100%;
}
li {
  list-style: none;

}
/* ---------- nav menu--------- */
/* :link :visited :hover :focus :active */
.navmenu li:first-child {
  display: block;
}
.navmenu li {
  display: none;
  padding: 0.8rem 0;
  text-align: center;
  /* list-style: none; */
  color: var(--white);
  transition: 0.5s;
}
.navmenu a {
  letter-spacing: 0.2rem;
  display: block;
}
.navmenu a,
.copyright a,
article a {
  color: var(--white);
  font-family: "Open Sans Condensed", Arial, sans-serif;
  text-decoration: none;
}

.navmenu a.ham {
  font-size: 2rem;
  background-color: var(--black);
}
.responsive li {
  display: block;
}
.responsive ul li:not(:first-child) {
  background-color: var(--blue);
}
.responsive .navmenu a.ham {
  background-color: var(--black);
}

/* .navmenu:link {
  color: var(--white); /*Don't know what this does??? 
}
.navmenu:visited {
  color: white; /*Possible change this color???
} */
.navmenu li:hover:not(:first-child) {
  background-color: var(--red);
}
.active {
  border-bottom: 0.2rem solid var(--red);
  max-width: 25%;
  margin: 0 auto;
}

/* ---------- main---------- */
main section h2,
main section h3 {
  background-color: var(--gray);
}
div > section,
div > article,
div > div {
  margin-top: 3rem;
}
.ad {
  margin: 1rem auto;
  max-width: 80%;
  }
}

.ad p {
  color: white;
}
.special {
  margin: 5%;
  padding: 5%;
  background-color: var(--gray);
  border: 5px solid var(--darkgrey);
}
.special > h3 {
  border-bottom: 5px solid var(--blue);
}
.daygrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "day day"
    "temp icon";
  border: 2px solid var(--blue);
}
.forecastgrid h2 {
  text-align: center;
  padding: 3%;
  border: 3px double var(--darkgrey);
}
.daygrid h3 {
  grid-area: day;
  background-color: var(--blue);
}
.daygrid p {
  grid-area: temp;
  white-space: nowrap;
}
.daygrid img {
  grid-area: icon;
}
.highlight, .stats {
  padding: 1rem;
  margin: 2%;
  line-height: 1.5rem;
  border: 3px solid var(--silver);
  background-color: var(--greige);
}

.highlight h2, .demographics h2 {
  color: var(--blue);
  background-color: var(--greige);
}
.highlight p, .demographics p {
  color: var(--black);
  background-color: var(--white);
}
.highlight > div, .demographics>div {
  padding: 0.5rem;
  margin-top: 1rem;
  color: var(--black);
  background-color: var(--white);
  border: 3px double silver;
}
.eventicon {
  float: right;
  font-size: 4rem;
}
div > p + a {
  color: var(--black);
}
div > p + a:hover {
  cursor: pointer;
}
article, .demographics {
  /* text-align: center; */
  margin-top: 2rem;
  background-color: var(--blue);
  padding: 2rem 0;
}

article h2 {
  border-bottom: 5px solid var(--darkgrey);
  margin-bottom: 1rem;
  background-color: var(--blue);
  /* white-space: nowrap; */
}

article > img {
  display: block;
  margin: 0 auto;
}
article h3 {
  background-color: var(--blue);
  margin: 1rem;
}
/* article p:nth-child(4) {
  text-align: left;
  background-color: var(--blue);
} */
article p:nth-child(3) {
  margin: 0.5rem auto 0 auto;
  font-style: italic;
  text-align: left;
  background-color: var(--blue);
}

/* --------footer------- */
footer label {
  display: none;
}
footer form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 3% auto 3% auto;
  max-width: 50%;
  padding: 3rem;
  border: 3px solid var(--greige);
  line-height: 1.5rem;
  white-space: nowrap;
}
input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid var(--blue);
}
#homeemail {
  margin-bottom: 1rem;
}
footer div {
  text-align: center;
}
.footimage {
  position: absolute;
  margin: 5% 25%;
}
.footimage img {
  opacity: 10%;
  margin: 0 auto;
  max-width: 80%;
}
.contact {
  padding-top: 3rem;
}
.contact,
.copyright p {
  background-color: unset;
}

element.style {
}
.social {
  margin: 1rem;
}
.social img {
  max-height: 3rem;
  padding: 0.5rem;
}
.footimage p {
  display: none;
}
.welcome,
.background {
  display: none;
}
/* ------------- join page------------- */
.newgrid {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: var(--middlegrey);
}

form fieldset {
  background-color: var(--greige);
  padding: 0.5rem;
  margin: 2rem 0rem;
}
.newgrid > section > fieldset {
  text-align: center;
}
legend {
  color: var(--black);
  font-size: 1.5rem;
  padding-bottom: 2rem;
  font-weight: bold;
}
fieldset > div {
  margin-bottom: 1rem;
}
textarea {
  width: 100%;
}
.levels p,
.levels h3 {
  color: var(--black);
}
.radiolevel {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  user-select: none;
}
.radiolevel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--white);
  border-radius: 50%;
}

.radiolevel:hover input ~ .checkmark {
  background-color: var(--silver);
}
.radiolevel input:checked ~ .checkmark {
  background-color: var(--blue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radiolevel input:checked ~ .checkmark:after {
  display: block;
}

.radiolevel .checkmark:after {
  top: 0.5rem;
  left: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--greige);
}
.contactgrid input:required,
.newgrid input:required {
  border-left: var(--red) solid 6px;
}
/* ---------Gallery-------------- */
figure {
  text-align: center;
  padding: 3%;
}
figure:nth-child(odd) {
  color: var(--white);
  background-color: var(--jet);
}
figure:nth-child(even) {
  color: var(--white);
  background-color: var(--blue);
}
figcaption {
  padding: 1rem;
  margin: 0.5rem;
  line-height: 2rem;
  text-align: left;
}
img[data-src] {
  opacity: 50%;
  filter: blur(3em);
  object-fit: contain;
}
img[data-src].loaded {
  opacity: 100%;
  filter: blur(0em);
  transition-duration: 0.1s;
}
/* -------------Directory------------ */

.linedisplay img,
.linedisplay figcaption {
  display: none;
}

#linebutton,
#gridbutton {
  cursor: pointer;
}
/* --------Contact Page--------------- */

.council img {
  display: none;
}
.council figure {
  text-align: left;
}
.council figcaption {
  padding: 0;
  margin: 0;
}
.contactinfo {
  text-align: center;
  padding: 1rem;
}
.contactform {
  background-color: var(--greige);
  text-align: center;
  padding: 1rem;
}

.mapgrid {
  display: block;
}
/* -------City page ------- */
.whatsnew, .whatsnew ul, .whatsnewli, .whatsnew h2{
  background-color: var(--greige);
}

.newnowinfo h3 {
  background-color: var(--blue);
}
