@media only screen and (min-width: 75rem) {
  html main {
    padding: 0.15rem;
  }

  .threegrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 80rem;
    margin: 0 auto;
  }
  .fourgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    max-width: 80rem;
    margin: 0 auto;
  }
  .namedate {
    float: right;
    font-size: 1rem;
    margin-top: -3rem;
    line-height: 1.2rem;
    text-align: right;
  }
}
