@media only screen and (min-width: 40em) {
  .threegrid,
  .fourgrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    padding: 0.15rem;
    margin-right: 2rem;
    margin-left: 1rem;
  }
  .logo {
    max-width: none;
  }
  header h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
    padding: 1rem;
    text-align: left;
  }
  nav ul {
    display: flex;
  }
  nav li {
    flex: 1 1 100%;
  }
  /*nav li {
    display: inline;
    grid-template-columns: auto;
    margin: 1rem;
    font-size: 1.5rem;
  }*/
  p {
    text-align: left;
  }
  .pic {
    margin: 0.5rem;
  }
  footer {
    padding: 1.5rem;
  }
}
.bioinfo {
  text-align: left;
  margin-bottom: 0.2rem;
}
.bioinfo h4 {
  padding: 0.5rem;
}
