/* CSS HEX */
--rich-black-fogra-29: #01161eff;
--midnight-green-eagle-green: #124559ff;
--teal-blue: #598392ff;
--silver-chalice: #a6aeb0ff;
--isabelline: #ededebff;
--gamboge: #de9c21ff;
--international-orange-engineering: #b52615ff;

html {
  font-size: 16px;
  color: #01161eff; /*jet*/
}
body {
  background-color: #ededebff;
  margin: 0 auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", arial, sans-serif;
  color: #124559ff;
  margin-top: 1.2rem;
  margin-bottom: 0.2rem;
}
h2 {
  color: #ededebff;
  background-color: #124559ff;
  padding: 0.8rem;
}

header h1,
footer,
footer a {
  color: white;
}
header,
footer {
  font-family: "Heebo", arial, sans-serif;
  max-width: 100%;
  padding: 0.8rem;
}
header {
  background-color: #598392ff;
}
footer {
  background-color: #124559ff;
}
div {
  background-color: #f5f5f5ff;
  margin-bottom: 4rem;
}
img {
  max-width: 70%;
}
.profile {
  border: 3px solid #01161eff;
}
.logo {
  max-width: 8rem;
}
.namedate {
  color: black;
  font-size: 0.8rem;
}
nav a {
  color: #f5f5f5ff;
  text-decoration: none;

  padding: 0 2rem 0 2rem;
}
nav li {
  display: block;
  margin: 1rem;
  font-size: 1.5rem;
}
ul {
  list-style-type: none;
  margin: 0.5rem;
  padding: 0;
}
nav a:hover {
  background-color: #de9c21ff;
  border-radius: 2rem;
}
a {
  font-family: "Heebo", arial, sans-serif;
  text-decoration: none;
}
p a:visited {
  color: #de9c21ff;
}
p a:before {
  color: #1b313bff;
}
p {
  font-family: "Heebo", arial, sans-serif;
  font-size: 1rem;
  padding: 0 1.5rem 0 1.5rem;
  margin-top: 0.2rem;
  line-height: 1.5rem;
}

.paragraphstyle {
  color: #01161eff;
  background-color: #a6aeb0ff;
  margin: 1.5rem;
  padding-right: 1rem;
}
.siteplannav {
  background-color: #598392;
  margin: 2rem;
  padding: 0.2rem;
}
.list {
  text-align: start;
  margin: 1rem;
}
.teal {
  border: #01161eff;
  padding: 0.1rem;
}
.tealblock {
  background-color: #598392;
  padding: 0.1rem;
}
.white {
  background-color: #ededebff;
  border: 2px solid #01161eff;
  padding: 0.1rem;
}
.darkblue {
  color: #ededebff;
  background-color: #124559ff;
  padding: 0.1rem;
}
.yellow {
  color: #01161eff;
  background-color: #de9c21ff;
  padding: 0.1rem;
}
.black {
  color: #ededebff;
  background-color: #01161eff;
  padding: 0.1rem;
}
